<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="2487.5">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Menlo; color: #1b1b1b; -webkit-text-stroke: #1b1b1b; background-color: #efefef}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 16.0px Menlo; color: #1b1b1b; -webkit-text-stroke: #1b1b1b}
    span.s1 {font-kerning: none}
    span.s2 {font-kerning: none; background-color: #efefef}
  </style>
</head>
<body>
<p class="p1"><span class="s1">&lt;html <i>ng-app</i>="custom-webapp-ui" <i>lang</i>="en"&gt;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>&lt;head&gt;</span></p>
<p class="p2"><span class="s2"><span class="Apple-converted-space">    </span><i>&lt;!-- Load the Telegram Library --&gt;</i></span></p>
<p class="p1"><span class="s1"><i><span class="Apple-converted-space">    </span></i>&lt;script <i>src</i>="https://telegram.org/js/telegram-web-app.js"&gt;&lt;/script&gt;</span></p>
<p class="p2"><span class="s2"><span class="Apple-converted-space">    </span><i>&lt;!--Load the AngularJS Library--&gt;</i></span></p>
<p class="p1"><span class="s1"><i><span class="Apple-converted-space">    </span></i>&lt;script <i>src</i>="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"&gt;&lt;/script&gt;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">    </span>&lt;script&gt;</span></p>
<p class="p2"><span class="s2"><span class="Apple-converted-space">      </span><i>//initialize the AngularJS stuff...</i></span></p>
<p class="p1"><span class="s1"><i><span class="Apple-converted-space">      </span></i>angular.<i>module</i>("custom-webapp-ui", []).controller('CustomUIController', <i>function CustomUIController</i>($scope) {</span></p>
<p class="p2"><span class="s2"><span class="Apple-converted-space">        </span><i>//init our slider values that we will display</i></span></p>
<p class="p1"><span class="s1"><i><span class="Apple-converted-space">        </span></i>$scope.foods = [</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">                </span>{ name: "fruits", value: 5 },</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">                </span>{ name: "vegetables", value: 5 },</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">                </span>{ name: "meat", value: 5 },</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">                </span>{ name: "dairy", value: 5 }</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">            </span>];</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">      </span>});</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">    </span>&lt;/script&gt;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>&lt;/head&gt;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>&lt;body <i>ng-controller</i>="CustomUIController"&gt;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">    </span>&lt;div <i>ng-repeat</i>="food in foods"&gt;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">      </span>&lt;div <i>style</i>="width: 100px; display: inline-block"&gt;{{food.name}} : {{food.value}}&lt;/div&gt;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">      </span>&lt;input <i>style</i>="display: inline-block" <i>type</i>="range" <i>min</i>="1" <i>max</i>="10" <i>ng-model</i>="food.value" <i>value</i>="{{food.value}}"&gt;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">    </span>&lt;/div&gt;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>&lt;/body&gt;</span></p>
<p class="p1"><span class="s1">&lt;/html&gt;</span></p>
</body>
</html>
